<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Topic Model Generator</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% comment %} {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %} {% endcomment %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>
            
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p>トピック数：{{ form.num_topics }}</p>
            <p>no_below：{{ form.no_below }}</p>
            <p>no_above：{{ form.no_above }}</p>
            <p>区切り：{{ form.separator }}</p>
            <p><input type="submit" value="トピックモデル作成"/></p>
        </form>
        <img src="{{ vis_path }}" alt="Topic Visualization" style='height: 100%; width: 100%; object-fit: contain'>

        <h2><A href="{{ vis_detail_path }}">トピック分類詳細</A></h2>
    
    </body>
</html>
